@mixin center{
    display: flex;
    justify-content: center;
    align-items: center;
}
@mixin beetwen{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
@mixin start{
    display: flex;
    justify-content: start;
    align-items: center;
}

@mixin border{
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}