
@media screen  and (max-width:913px){
  .home2{
    height: auto;
    background-image: none;
    .box1{
      margin-top: 20px;
      h1{
        font-size: 30px;
      }
      span{
        font-size: 25px;
      }
      p{
        font-size: 25px;
        line-height: 41px;
      }
    }

    .box2{
      width: 278px;
    }
  }

  .home1{
    .page{
      i{
        font-size: 40px;
      }
      h1{
        font-size: 20px;
      }
    }
  }

  .home3{
    padding-top: 50px ;
  }
}
@media screen and (max-width: 768px) {
  header {
    .header-flex {
      .content-box,
      .button-box {
        display: none;
      }
      .menu-bar{
        display: block;
        border-left: 1px solid $--black;
        padding-left:10px;
        color: $--blue;

        i{
            font-size: 20px;
        }
      }
    }
  }
  .about{
    background-image: none;
    height: auto;
    .content-box{
      width: 100%;
    }
  }

}


