@media screen and (max-width: 1300px) {
  .home7 {
    .general-box {
      .box15 {
        height: auto;

        p {
          font-size: 16px;
        }
      }
    }
  }

  header {
    .header-flex {
      .content-box {
        nav {
          .nav-items {
            .nav-item {
              a {
                font-size: 13px;
              }
            }
          }
        }
      }

      .btn {
        font-size: 12px;
      }

      .image {
        width: 100px;

        img {
          width: 100%;
        }
      }
    }
  }
}

@media screen and (max-width: 913px) {
  .home2 {
    height: auto;
    background-image: none;

    .box1 {
      margin-top: 20px;

      h1 {
        font-size: 30px;
      }

      span {
        font-size: 25px;
      }

      p {
        font-size: 25px;
        line-height: 41px;
      }
    }

    .box2 {
      width: 278px;
    }
  }

  .home1 {
    .page {
      i {
        font-size: 40px;
      }

      h1 {
        font-size: 20px;
      }
    }
  }

  .home3 {
    padding-top: 50px;
  }


  .header-image {
    .blog-large {
      .content-box {
        h4 {
          font-size: 20px;
          margin-bottom: 10px;
        }

        p{
          font-size: 14px;
        }
      }
    }
  }

  .sponsor {
    .image-flex {
      flex-direction: column;

      img {
        width: auto;

      }
    }

  }

  .pages-faq {
    .pages {
      .page-border {
        padding: 31px;

        h5 {
          font-size: 15px;
          margin-right: 10px;
        }
      }
    }
  }
}

@media screen and (max-width: 768px) {
  header {
    .header-flex {

      .content-box,
      .button-box {
        display: none;
      }

      .menu-bar {
        display: block;
        border-left: 1px solid $--black;
        padding-left: 10px;
        color: $--blue;

        i {
          font-size: 20px;
        }
      }
    }
  }

  .about {
    background-image: none;
    height: auto;

    .content-box {
      width: 100%;
    }
  }

  .buy-book {
    width: 100%;

    .display-flex {
      @include center;

      .content-box {
        .title {
          font-size: 17px;
        }

        p {
          font-size: 12px;
        }

        .li-text {
          margin-top: 15px;
        }

        .pay-buttons {
          flex-direction: column;
          align-items: start;
          margin-top: 15px;

          .button {
            margin-top: 15px;
            width: 200px;
            display: flex;
            justify-content: space-between;
          }
        }

        .sosial-media {
          h3 {
            font-size: 14px;
          }
        }
      }
    }
  }

  .table {
    .table-ul {
      .table-li {
        line-height: 1;
        padding: 0;
        padding-left: 10px;

        h4 {
          font-size: 13px;
        }

        p {
          font-size: 10px;
          color: $--color-p;
        }
      }
    }
  }
}