$--black: #000;
$--white: #fff;
$--blue: #00aff0;
$--red: red;
$--gray: #8b8b8b;
$--gray2: #f8f8f8;
$--yellow: #d0ff00;
$--facebook : #405496;
$--twitter: #55acee ;
$--pinterest: #c82918;
$--gplus: #d8402d;
$--footer-background: #2e2e2e ;