@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
}

p {
  margin-bottom: 0;
}

header {
  padding: 30px 0;
}
header .header-flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header .header-flex .content-box nav .nav-items {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 50px;
}
header .header-flex .content-box nav .nav-items:hover {
  color: #00aff0;
  list-style: disc;
  transition: 0.5s ease;
}
header .header-flex .content-box nav .nav-items:not(:hover) {
  transition: 0.5s ease;
}
header .header-flex .content-box nav .nav-items .nav-item {
  list-style: circle;
}
header .header-flex .content-box nav .nav-items .nav-item:hover {
  list-style: disc;
  transition: 0.5s ease;
  color: #00aff0;
}
header .header-flex .content-box nav .nav-items .nav-item:not(:hover) {
  transition: 0.5s ease;
}
header .header-flex .content-box nav .nav-items .nav-item a {
  color: #000;
  text-decoration: none;
  font-size: 20px;
  font-weight: 500;
  text-transform: uppercase;
}
header .header-flex .content-box nav .nav-items .nav-item a:hover {
  color: #00aff0;
  transition: 0.5s ease;
}
header .header-flex .content-box nav .nav-items .nav-item a:not(:hover) {
  transition: 0.5s ease;
}
header .header-flex .content-box nav .nav-items .active {
  color: #00aff0;
  list-style: disc;
}
header .header-flex .content-box nav .nav-items .active a {
  color: #00aff0;
}
header .header-flex .menu-bar {
  display: none;
}

.home2 {
  background-image: url("/assets/image/banner-2.jpg");
  background-repeat: no-repeat;
  height: 85vh;
  width: 100%;
  background-position: right;
  background-size: contain;
  display: flex;
  justify-content: center;
  align-items: center;
}
.home2 .box1 h1 {
  color: #00aff0;
  font-size: 350%;
}
.home2 .box1 span {
  font-size: 300%;
}
.home2 .box1 p {
  font-size: 140%;
  line-height: 200%;
  padding: 25px 0 0 0;
  color: #8b8b8b;
}
.home2 .box2 {
  width: 405px;
}
.home2 .box2 img {
  width: 100%;
  margin: 50px 0 30px 0;
}

.about {
  background-image: url("../image/how-to-workimg.png");
  background-repeat: no-repeat;
  height: 50vh;
  width: 100%;
  background-position: right;
  background-size: contain;
  display: flex;
  justify-content: center;
  align-items: center;
}
.about .content-box {
  width: 50%;
}
.about .content-box h1 {
  font-size: 170%;
  line-height: 150%;
  padding: 100px 0 20px 0;
  color: #00aff0;
}
.about .content-box p {
  line-height: 170%;
  font-size: 120%;
  color: #8b8b8b;
}

.home1 {
  background-color: #f8f8f8;
  width: 100%;
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.home1 .page {
  border-right: 1px solid #8b8b8b;
}
.home1 .page i {
  color: #00aff0;
  font-size: 60px;
}

.home3 .display-flex {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 70px;
}
.home3 .display-flex .box4 h2 {
  margin: 0px 0px 23px;
  letter-spacing: 1.6px;
  text-transform: uppercase;
  position: relative;
  display: inline-block;
  padding: 14px 0px 0px 35px;
}
.home3 .display-flex .box4 h2::before {
  content: "";
  border-radius: 3px;
  position: absolute;
  left: 0px;
  top: 0px;
  width: 45px;
  height: 45px;
  border: 1px solid #00aff0;
}
.home3 .display-flex .box4 h2::after {
  content: "";
  border-radius: 3px;
  position: absolute;
  left: 10px;
  top: 10px;
  width: 45px;
  height: 45px;
  border: 1px solid #00aff0;
}
.home3 .display-flex .box5 p {
  font-size: 15px;
  color: #00aff0;
}

.featured {
  padding: 30px;
}
.featured .featured-box {
  background-color: #fff;
  width: 100%;
  margin-top: 70px;
  padding: 41px 30px 32px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.featured .featured-box:hover i {
  transform: rotateY(180deg);
  transition: 0.8s ease;
}
.featured .featured-box:not(:hover) {
  transform: rotateY(0deg);
  transition: 0.8s ease;
}
.featured .featured-box:hover h6 {
  color: #00aff0;
  transition: 0.5s ease;
}
.featured .featured-box:not(:hover) {
  color: #000;
  transition: 0.8s ease;
}
.featured .featured-box h6 {
  font-size: 20px;
  padding: 15px;
}
.featured .featured-box p {
  font-size: 18px;
  line-height: 30px;
}
.featured .featured-box .button-b i {
  font-size: 80px;
  padding: 20px;
  color: #00aff0;
}

.home4 {
  background-color: #f8f8f8;
  padding: 70px;
}
.home4 .disp-f {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.home4 .disp-f .box6 h2 {
  margin: 0px 0px 23px;
  text-transform: uppercase;
  letter-spacing: 1.6px;
  position: relative;
  display: inline-block;
  padding: 14px 0px 0px 35px;
}
.home4 .disp-f .box6 h2::before {
  content: "";
  border-radius: 3px;
  position: absolute;
  left: 0px;
  top: 0px;
  width: 45px;
  height: 45px;
  border: 1px solid #00aff0;
}
.home4 .disp-f .box6 h2::after {
  content: "";
  border-radius: 3px;
  position: absolute;
  left: 10px;
  top: 10px;
  width: 45px;
  height: 45px;
  border: 1px solid #00aff0;
}
.home4 .disp-f .box7 p {
  font-size: 15px;
  color: #00aff0;
}

.home5 {
  background-color: #f8f8f8;
}
.home5 .home5-flex .box10 h3 {
  font-size: 28px;
  padding: 20px 0;
}
.home5 .home5-flex .box10 h3 span {
  color: #00aff0;
}
.home5 .home5-flex .box10 p {
  font-size: 18px;
  line-height: 25px;
  color: #8b8b8b;
}
.home5 .home5-flex .box-group {
  display: inline-block;
  padding: 20px;
}
.home5 .home5-flex .box-group .box {
  margin-bottom: 20px;
}
.home5 .home5-flex .box-group .box i {
  color: #00aff0;
  font-size: 30px;
  padding: 0 10px 10px 0;
}
.home5 .home5-flex .box-group .box h5 {
  color: #000;
  font-size: 27px;
  display: inline-block;
}
.home5 .home5-flex .box-group .box p {
  color: #8b8b8b;
  font-size: 17px;
  line-height: 33px;
}

.home6 .box12 {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 70px;
}
.home6 .box12 .box13 h2 {
  margin: 0px 0px 23px;
  letter-spacing: 1.6px;
  position: relative;
  display: inline-block;
  padding: 14px 0px 0px 35px;
}
.home6 .box12 .box13 h2::before {
  content: "";
  border-radius: 3px;
  border: 1px solid #00aff0;
  position: absolute;
  left: 0px;
  top: 0px;
  width: 45px;
  height: 45px;
}
.home6 .box12 .box13 h2::after {
  content: "";
  border-radius: 3px;
  position: absolute;
  left: 10px;
  top: 10px;
  width: 45px;
  height: 45px;
  border: 1px solid #00aff0;
}
.home6 .box12 .box14 p {
  font-size: 15px;
  color: #00aff0;
}

.home7 .general-box {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 30px 0;
  margin-top: 60px;
}
.home7 .general-box .box15 {
  border: 1px solid #fff;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.08);
  border-radius: 0.2cm;
  width: 100%;
  height: 690px;
  padding: 20px;
}
.home7 .general-box .box15:hover h3 {
  color: #00aff0;
  transition: 0.5s ease;
  cursor: pointer;
}
.home7 .general-box .box15:not(:hover) {
  transition: 0.5s ease;
}
.home7 .general-box .box15:hover a {
  color: #00aff0;
  transition: 0.5s ease;
}
.home7 .general-box .box15:not(:hover) {
  transition: 0.5s ease;
}
.home7 .general-box .box15:hover i {
  color: #00aff0;
  transition: 0.5s ease;
}
.home7 .general-box .box15:not(:hover) {
  transition: 0.5s ease;
}
.home7 .general-box .box15:hover h6 {
  font-size: 20px;
  transition: 0.5s ease;
}
.home7 .general-box .box15:not(:hover) {
  transition: 0.5s ease;
}
.home7 .general-box .box15 .img-box img {
  width: 100%;
  border-radius: 0.1cm;
  margin-left: 3px;
}
.home7 .general-box .box15 h6 {
  padding: 30px 0 0 10px;
  color: #00aff0;
}
.home7 .general-box .box15 h3 {
  padding: 7px;
  font-size: 20px;
  line-height: 30px;
}
.home7 .general-box .box15 h5 {
  padding: 0 0 10px 10px;
  color: #8b8b8b;
  font-size: 14px;
}
.home7 .general-box .box15 p {
  font-size: 20px;
  padding: 10px;
}
.home7 .general-box .box15 a {
  color: #000;
  text-decoration: none;
  padding: 20px 5px 0 10px;
}
.home7 .general-box .box15 i {
  color: #000;
}

.home8 .general-box2 {
  display: flex;
  justify-content: center;
  align-items: center;
}
.home8 .general-box2 .box16 img {
  width: 100%;
  height: 800px;
}
.home8 .general-box2 .box17 h2 {
  color: #00aff0;
  font-size: 35px;
  padding-bottom: 20px;
}
.home8 .general-box2 .box17 h3 {
  line-height: 40px;
  padding-bottom: 25px;
}
.home8 .general-box2 .box17 p {
  color: #8b8b8b;
  font-size: 22px;
  line-height: 35px;
}
.home8 .general-box2 .box17 img {
  padding-top: 10px;
}
.home8 .general-box2 .box17 .box18 {
  padding: 50px 20px;
  display: flex;
  align-items: center;
}
.home8 .general-box2 .box17 .box18 .icon-box1 {
  background-color: #405496;
  border: 1px solid #405496;
  border-radius: 0.1cm;
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 15px;
}
.home8 .general-box2 .box17 .box18 .icon-box1 i {
  color: #fff;
}
.home8 .general-box2 .box17 .box18 .icon-box2 {
  background-color: #55acee;
  border: 1px solid #55acee;
  border-radius: 0.1cm;
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 15px;
}
.home8 .general-box2 .box17 .box18 .icon-box2 i {
  color: #fff;
}
.home8 .general-box2 .box17 .box18 .icon-box3 {
  background-color: #c82918;
  border: 1px solid #c82918;
  border-radius: 0.1cm;
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 15px;
}
.home8 .general-box2 .box17 .box18 .icon-box3 i {
  color: #fff;
}
.home8 .general-box2 .box17 .box18 .icon-box4 {
  background-color: #d8402d;
  border: 1px solid #d8402d;
  border-radius: 0.1cm;
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.home8 .general-box2 .box17 .box18 .icon-box4 i {
  color: #fff;
}

.home9 .general-box3 {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 30px;
}
.home9 .general-box3 .box20 img {
  width: 100%;
}

.footer {
  background-color: #2e2e2e;
  padding: 50px;
}
.footer .general-box4 {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.footer .general-box4 .f-box1 {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 20px;
}
.footer .general-box4 .f-box1 h2 {
  color: #fff;
}
.footer .general-box4 .f-box1 p {
  color: #8b8b8b;
  font-size: 20px;
}
.footer .general-box4 .f-box2 {
  display: flex;
  align-items: center;
  width: 70%;
}
.footer .general-box4 .f-box2 input {
  width: 100%;
  height: 40px;
  padding: 0 20px;
  margin-right: none;
}
.footer .general-box4 .f-box2 input:focus {
  outline: none;
}
.footer .general-box4 .f-box2 .button-box1 {
  background-color: #00aff0;
  border: 1px solid #00aff0;
  width: 100px;
  height: 39px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.footer .general-box4 .f-box2 .button-box1 a {
  color: #fff;
  text-decoration: none;
  font-size: 16px;
}
.footer .general-box4 .f-box3 img {
  margin: 60px;
}

.header-image {
  background-image: url("/assets/image/subheader-img1.jpg");
  background-repeat: no-repeat;
  background-position: top;
  width: 100%;
  height: 250px;
  position: relative;
}
.header-image .absolute-dark {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  background: rgba(46, 46, 46, 0.9);
}
.header-image .blog-large {
  position: absolute;
  top: 20px;
  z-index: 3;
  width: 100%;
}
.header-image .blog-large .content-box {
  margin-top: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: #fff;
}
.header-image .blog-large .content-box h4 {
  font-size: 30px;
  letter-spacing: 1.8px;
  text-transform: 1.8px;
}
.header-image .blog-large .content-box p {
  font-size: 16px;
  width: 74%;
}

.Page {
  background-color: #2e2e2e;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 70px;
}
.Page h6 {
  color: #fff;
  font-size: 20px;
}
.Page h6:last-child {
  color: #00aff0;
}
.Page i {
  color: #fff;
  margin: 0 20px;
}

.blogs {
  margin-top: 30px;
}
.blogs .blog-box {
  margin-top: 40px;
}
.blogs .blog-box h4 {
  font-weight: 600;
  font-size: 20px;
}
.blogs .blog-box p {
  color: #7e7e7e;
  font-size: 15px;
  line-height: 26px;
}
.blogs .blog-box .img-box {
  margin: 20px 0;
}
.blogs .blog-box .img-box img {
  width: 100%;
}
.blogs .blog-box .button-box {
  margin-top: 20px;
}
.blogs .blog-box .button-box a {
  text-decoration: none;
  color: #fff;
}
.blogs .search-box {
  margin-top: 20px;
  position: relative;
}
.blogs .search-box input {
  width: 100%;
  padding: 3px 10px;
  border: 1px solid #ccc;
  outline: none;
}
.blogs .search-box input::-moz-placeholder {
  font-size: 13px;
}
.blogs .search-box input::placeholder {
  font-size: 13px;
}
.blogs .search-box .icon-box {
  position: absolute;
  right: 0;
  top: 0;
  background-color: #00aff0;
  width: 32px;
  height: 32px;
  padding: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.blogs .search-box .icon-box i {
  color: #fff;
  font-size: 13px;
}
.blogs .categories-box {
  margin-top: 40px;
  border: 1px solid #ccc;
  padding: 20px;
  height: 350px;
}
.blogs .categories-box h6 {
  font-size: 20px;
  font-weight: 600;
  position: relative;
}
.blogs .categories-box h6::before {
  content: "";
  position: absolute;
  left: 0px;
  bottom: -5px;
  height: 2px;
  width: 30px;
  background-color: #00aff0;
}
.blogs .categories-box .categories-flex {
  margin-top: 10px;
}
.blogs .categories-box .categories-flex .category-box {
  margin-top: 15px;
  border: 1px solid #ccc;
  padding: 7px 15px;
}
.blogs .categories-box .categories-flex .category-box:hover {
  background-color: #00aff0;
  transition: 0.7s ease;
  -webkit-transition: 0.7s ease;
  -moz-transition: 0.7s ease;
  -ms-transition: 0.7s ease;
  -o-transition: 0.7s ease;
  color: #fff;
  border: none;
  cursor: pointer;
}
.blogs .categories-box .categories-flex .category-box:not(:hover) {
  transition: 0.7s ease;
}
.blogs .categories-box .categories-flex .category-box:hover a, .blogs .categories-box .categories-flex .category-box:hover p, .blogs .categories-box .categories-flex .category-box:hover .icon-box i {
  color: #fff;
}
.blogs .categories-box .categories-flex .category-box a {
  text-decoration: none;
  text-transform: uppercase;
  color: #8b8b8b;
  font-size: 12px;
}
.blogs .categories-box .categories-flex .category-box p {
  color: #8b8b8b;
  font-size: 12px;
}
.blogs .categories-box .categories-flex .category-box .icon-box i {
  color: #8b8b8b;
  font-size: 12px;
}
.blogs .categories-box .POST {
  margin: 20px 0;
}
.blogs .categories-box .POST h5 {
  font-size: 17px;
}
.blogs .categories-box .POST h5:hover {
  color: #00aff0;
  transition: 0.6s ease;
}
.blogs .categories-box .POST h5:not(:hover) {
  transition: 0.6s ease;
}
.blogs .categories-box .POST p {
  font-size: 13px;
  color: #7e7e7e;
}
.blogs .categories-box .comments .comment {
  margin-top: 25px;
}
.blogs .categories-box .comments .comment h5 {
  font-size: 20px;
}
.blogs .categories-box .comments .comment h5:hover {
  color: #00aff0;
  transition: 0.6s ease;
}
.blogs .categories-box .comments .comment h5:not(:hover) {
  transition: 0.6s ease;
}
.blogs .categories-box .comments .comment p {
  font-size: 13px;
  color: #7e7e7e;
}
.blogs .categories-box .tags {
  margin-top: 30px;
}
.blogs .categories-box .tags a {
  text-decoration: none;
  color: #7e7e7e;
  float: left;
  font-size: 15px;
  border: 1px solid #ececec;
  padding: 5px 16px 6px;
  margin: 5px 15px 10px 0px;
  text-transform: uppercase;
  border-radius: 4px;
}
.blogs .categories-box .tags a:hover {
  background-color: #00aff0;
  transition: 0.6s ease;
}
.blogs .categories-box .tags a:not(:hover) {
  transition: 0.6s ease;
}

.button-box-blog {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 80px 0;
}
.button-box-blog .button {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #646161;
  border: 1px solid #646161;
  width: 50px;
  height: 50px;
  margin-right: 20px;
}
.button-box-blog .button:hover {
  background-color: #00aff0;
  border-color: #00aff0;
  transition: 0.6s ease;
}
.button-box-blog .button:not(:hover) {
  transition: 0.6s ease;
}
.button-box-blog .button i {
  color: #fff;
  font-size: 20px;
}
.button-box-blog .button h6 {
  color: #fff;
  font-size: 17px;
}

.blog-detail {
  background-color: #ececec;
  width: 100%;
  height: 140px;
  display: flex;
  align-items: center;
}
.blog-detail .content-box {
  display: flex;
  align-items: center;
}
.blog-detail .content-box p {
  color: #000;
  font-size: 19px;
}
.blog-detail .content-box p:hover {
  cursor: pointer;
}
.blog-detail .content-box p:last-child {
  color: #00aff0;
  font-size: 17px;
}
.blog-detail .content-box i {
  margin: 10px 20px;
}

.buy-book {
  margin-top: 20px;
  width: 100%;
}
.buy-book .display-flex {
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1);
  padding: 40px;
}
.buy-book .display-flex .image-box {
  border: 1px solid #ccc;
  margin-right: 30px;
}
.buy-book .display-flex .image-box img {
  width: 100%;
}
.buy-book .display-flex .content-box .title {
  font-size: 20px;
}
.buy-book .display-flex .content-box .rating-text i {
  color: #00aff0;
}
.buy-book .display-flex .content-box .rating-text small {
  padding-left: 5px;
}
.buy-book .display-flex .content-box .price-text span {
  margin-right: 20px;
  color: #000;
  font-size: 20px;
}
.buy-book .display-flex .content-box .price-text del {
  font-size: 17px;
  color: #7e7e7e;
}
.buy-book .display-flex .content-box p {
  margin-top: 20px;
  color: #7e7e7e;
}
.buy-book .display-flex .content-box .li-text {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
}
.buy-book .display-flex .content-box .li-text ul li {
  float: left;
  list-style: none;
  margin: 0px 0px 30px;
  border-right: 1px solid #ececec;
  padding: 20px;
}
.buy-book .display-flex .content-box .li-text ul li p {
  color: #7e7e7e;
}
.buy-book .display-flex .content-box .button-text {
  display: flex;
  align-items: center;
}
.buy-book .display-flex .content-box .button-text h6 {
  margin: 1px 20px 0 0;
}
.buy-book .display-flex .content-box .button-text input {
  margin-top: 1px;
  padding: 8px;
  border: 1px solid #ccc;
  outline: none;
}
.buy-book .display-flex .pay-buttons {
  display: flex;
  align-items: center;
  margin-top: 30px;
}
.buy-book .display-flex .pay-buttons .button {
  border: 1px solid #00aff0;
  margin-right: 30px;
  display: flex;
  align-items: center;
  padding: 5px 23px;
}
.buy-book .display-flex .pay-buttons .button:hover {
  background-color: #00aff0;
  transition: 0.7s ease;
}
.buy-book .display-flex .pay-buttons .button:not(:hover) {
  transition: 0.7s ease;
}
.buy-book .display-flex .pay-buttons .button:hover h2 {
  color: #fff;
  transition: 0.7s ease;
}
.buy-book .display-flex .pay-buttons .button:not(:hover) h2 {
  transition: 0.7s ease;
}
.buy-book .display-flex .pay-buttons .button:hover i {
  color: #fff;
  transition: 0.7s ease;
}
.buy-book .display-flex .pay-buttons .button:not(:hover) i {
  transition: 0.7s ease;
}
.buy-book .display-flex .pay-buttons .button h2 {
  font-size: 17px;
  margin: 5px 10px;
  color: #00aff0;
}
.buy-book .display-flex .pay-buttons .button i {
  margin-left: 5px;
  color: #00aff0;
}
.buy-book .display-flex .sosial-media {
  display: flex;
  align-items: center;
  margin-top: 10px;
}
.buy-book .display-flex .sosial-media h3 {
  font-size: 18px;
}
.buy-book .display-flex .sosial-media .box18 {
  padding: 50px 20px;
  display: flex;
  align-items: center;
}
.buy-book .display-flex .sosial-media .box18 .icon-box1 {
  background-color: #405496;
  border: 1px solid #405496;
  border-radius: 0.1cm;
  width: 35px;
  height: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 15px;
}
.buy-book .display-flex .sosial-media .box18 .icon-box1 i {
  color: #fff;
}
.buy-book .display-flex .sosial-media .box18 .icon-box2 {
  background-color: #55acee;
  border: 1px solid #55acee;
  border-radius: 0.1cm;
  width: 35px;
  height: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 15px;
}
.buy-book .display-flex .sosial-media .box18 .icon-box2 i {
  color: #fff;
}
.buy-book .display-flex .sosial-media .box18 .icon-box3 {
  background-color: #c82918;
  border: 1px solid #c82918;
  border-radius: 0.1cm;
  width: 35px;
  height: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 15px;
}
.buy-book .display-flex .sosial-media .box18 .icon-box3 i {
  color: #fff;
}
.buy-book .display-flex .sosial-media .box18 .icon-box4 {
  background-color: #d8402d;
  border: 1px solid #d8402d;
  border-radius: 0.1cm;
  width: 35px;
  height: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.buy-book .display-flex .sosial-media .box18 .icon-box4 i {
  color: #fff;
}

.book-description {
  margin-top: 40px;
}
.book-description .display-flex h2 {
  text-transform: uppercase;
  font-size: 22px;
  position: relative;
}
.book-description .display-flex h2::before {
  content: "";
  position: absolute;
  left: 0px;
  bottom: -5px;
  height: 2px;
  width: 40px;
  background-color: #00aff0;
}
.book-description .display-flex p {
  color: #646161;
  margin-top: 23px;
  font-size: 15px;
  line-height: 26px;
}

.book-detail {
  margin-top: 40px;
}
.book-detail .display-flex h2 {
  text-transform: uppercase;
  font-size: 22px;
  position: relative;
}
.book-detail .display-flex h2::before {
  content: "";
  position: absolute;
  left: 0px;
  bottom: -5px;
  height: 2px;
  width: 40px;
  background-color: #00aff0;
}
.book-detail .display-flex p {
  color: #646161;
  margin-top: 23px;
  font-size: 15px;
  line-height: 26px;
}

.table {
  margin-top: 40px;
}
.table .table-ul {
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.07);
  height: 209px;
  padding: 12px 0px;
  background-color: #fff;
  border-radius: 5px;
}
.table .table-ul .table-li {
  float: left;
  line-height: 3;
  width: 33.333%;
  height: 98px;
  padding: 17px 0px 22px 30px;
  list-style: none;
  border-bottom: 1px solid #ececec;
  border-right: 1px solid #ececec;
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.table .table-ul .table-li:hover h4 {
  color: #00aff0;
  transition: 0.7s ease;
}
.table .table-ul .table-li:not(:hover) h4 {
  transition: 0.7s ease;
}
.table .table-ul .table-li h4 {
  margin: 0px 0px 1px;
  font-size: 17px;
}
.table .table-ul .table-li p {
  margin: 0px;
  font-size: 13px;
  color: #7e7e7e;
}

@media screen and (max-width: 913px) {
  .home2 {
    height: auto;
    background-image: none;
  }
  .home2 .box1 {
    margin-top: 20px;
  }
  .home2 .box1 h1 {
    font-size: 30px;
  }
  .home2 .box1 span {
    font-size: 25px;
  }
  .home2 .box1 p {
    font-size: 25px;
    line-height: 41px;
  }
  .home2 .box2 {
    width: 278px;
  }
  .home1 .page i {
    font-size: 40px;
  }
  .home1 .page h1 {
    font-size: 20px;
  }
  .home3 {
    padding-top: 50px;
  }
}
@media screen and (max-width: 768px) {
  header .header-flex .content-box,
  header .header-flex .button-box {
    display: none;
  }
  header .header-flex .menu-bar {
    display: block;
    border-left: 1px solid #000;
    padding-left: 10px;
    color: #00aff0;
  }
  header .header-flex .menu-bar i {
    font-size: 20px;
  }
  .about {
    background-image: none;
    height: auto;
  }
  .about .content-box {
    width: 100%;
  }
  .buy-book {
    width: 100%;
  }
  .buy-book .display-flex {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .buy-book .display-flex .content-box .title {
    font-size: 17px;
  }
  .buy-book .display-flex .content-box p {
    font-size: 12px;
  }
  .buy-book .display-flex .content-box .li-text {
    margin-top: 15px;
  }
  .buy-book .display-flex .content-box .pay-buttons {
    flex-direction: column;
    margin-top: 15px;
  }
  .buy-book .display-flex .content-box .pay-buttons .button {
    margin-top: 15px;
  }
  .buy-book .display-flex .content-box .sosial-media h3 {
    font-size: 14px;
  }
  .table .table-ul .table-li {
    line-height: 1;
    height: 130px;
    padding: 0;
    padding-left: 10px;
  }
  .table .table-ul .table-li h4 {
    font-size: 13px;
  }
  .table .table-ul .table-li p {
    font-size: 10px;
    color: #7e7e7e;
  }
}/*# sourceMappingURL=style.css.map */